@model PomodoroApplication.Models.Assignment

@{
    ViewBag.Title = "Delete";
}

<h2>Complete</h2>

<h3>Is this Task Complete?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsWorth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsWorth)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Yes" class="btn btn-default" /> | 
    @Html.ActionLink("No", "Index", null, new { @class="btn btn-default" })
    
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
    }
</div>
