@model IEnumerable<PomodoroApplication.Models.Reward>

@{
    ViewBag.Title = "Reward";
}

<h2>List of Rewards</h2>

<p>
    @Html.ActionLink("Rewards", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RewardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointCost)
        </th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RewardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointCost)
            </td>
            <td>
                @Html.ActionLink("Change", "Edit", new { id = item.RewardId })  |
                @Html.ActionLink("More Information", "Details", new { id = item.RewardId })  |
                @Html.ActionLink("Remove", "Delete", new { id = item.RewardId })
            </td>
        </tr>
    }
</table>