@model IEnumerable<PomodoroApplication.Models.Reward>

@{
    ViewBag.Title = "Reward";
}

<h2>Rewards</h2>



<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RewardName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.PointCost)
        </th>

        <th>
            Actions
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RewardName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PointCost)
            </td>
            <td>
                @*@Html.ActionLink("More Information", "Details", new { id = item.RewardId })  |*@

                @Html.ActionLink("Treat Yourself", "TreatYourself") |
                @Html.ActionLink("Edit", "Edit", new { id = item.RewardId })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.RewardId })

            </td>
        </tr>
    }
        @*<tfoot>
            <tr>
                <td>Total</td>
                <td>Total - @Model.Sum(i => i.PointCost)</td>
            </tr>
        </tfoot>*@
</table>

<p>
    @Html.ActionLink("New Reward", "Create", null, new { @class = "btn-lg btn-default" })
    
</p>